.text{
    background: rgb(227, 255, 188);
    border-radius: 15px;
    border: solid;
    border-color: rgb(172, 240, 255);
    box-shadow: 0 0 15px rgb(172, 240, 255);
    color: rgb(187, 12, 117);
    font-size: large;
    padding: 16px;
}

.img1{
    border-radius: 10%;
    border: solid;
    border-color: rgb(172, 240, 255);
    box-shadow: 0 0 15px rgb(172, 240, 255);
    width: 200px;
}
.img2{
    width: 250px;
}


main{
    margin-left: 15pt;
    margin-right: 15pt;
}
.head1{
    margin: 30pt 0;
    color: rgb(255, 193, 229);
    background: rgb(255, 244, 195);
    padding: 15px;
    text-shadow: 2px 0 2px rgb(187, 12, 117),
    0 2px 2px rgb(187, 12, 117), 
    -2px 0 2px rgb(187, 12, 117), 
    0 -2px 2px rgb(187, 12, 117);

}
.head2{
    color: rgb(255, 193, 229);
    text-shadow: 2px 0 2px rgb(187, 12, 117),
    0 2px 2px rgb(187, 12, 117), 
    -2px 0 2px rgb(187, 12, 117), 
    0 -2px 2px rgb(187, 12, 117);
    margin: 0 0 0 0;
    
}
.head3{
    color: rgb(187, 12, 117);
    margin: 0 0 0 0;

}
